<div class="row">
	<div class="col-4">
		<div class="list-group">
			<a href="<%= gossip_index_path%>" class="list-group-item list-group-item-action list-group-item-success">Home</a>
			<a href="<%= new_gossip_path%>" class="list-group-item list-group-item-action list-group-item-info">Add Gossip</a>
			<a href="" class="list-group-item list-group-item-action list-group-item-warning">Profil</a>
			<a href="<%= registration_logout_path %>" class="list-group-item list-group-item-action list-group-item-danger">Log out</a>
		</div>
	</div>
	<div class="col-8">
		<div class="add_gossiop">
			<h1>Added Gossip</h1>
			<%= form_tag '/gossip', method: 'POST' do %>
			<%= label_tag 'Entrer votre Gossip'%>
			<%= text_area_tag 'gossip','',:class => 'form-control'%>
			<%= submit_tag 'Enregister',:class => 'btn btn-success'%>
			<% end %>
		</div>
	</div>
</div>
