<div class="row">
  <div class="col-4">
    <div class="list-group">
      <a href="<%= gossip_index_path%>" class="list-group-item list-group-item-action list-group-item-success">Home</a>
      <a href="<%= new_gossip_path%>" class="list-group-item list-group-item-action list-group-item-info">Add Gossip</a>
      <a href="<%= user_path(@user_id) %>" class="list-group-item list-group-item-action list-group-item-warning">Profil</a>
      <a href="<%= registration_logout_path %>" class="list-group-item list-group-item-action list-group-item-danger">Log out</a>
  </div>
</div>
<div class="col-8">
<h1>Bienvenu sur Votre profil <%= @user.first_name %></h1>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacinia tempus nibh sit amet laoreet. Nunc iaculis scelerisque consequat. Fusce ultricies nulla quis lobortis facilisis. Duis est dui, mattis et sem at, vulputate vestibulum augue. Nam auctor felis eget justo luctus, ac fermentum justo tempus. Nulla ac ante felis. Curabitur in ex vitae neque lobortis rhoncus sit amet ut dui. Maecenas eu vestibulum sapien, at pretium justo. Ut vel vehicula orci, et aliquam neque. Ut malesuada venenatis massa at fermentum. Sed eget porta nunc, sit amet malesuada erat.

Aliquam ut odio a elit venenatis pharetra a ac justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis tincidunt eu nulla in auctor. Praesent quis tortor leo. Aenean aliquet interdum est a imperdiet. Vivamus nec convallis odio, vel varius metus. Donec ut sem rhoncus, scelerisque nulla nec, lacinia nulla. Etiam at consectetur odio.

Sed congue posuere fringilla. Phasellus sagittis ipsum ante, a blandit felis congue pellentesque. Cras condimentum dui vitae lacus fermentum, nec tristique augue pretium. Nullam pharetra nunc vel vestibulum mollis. In sit amet magna ligula. Maecenas feugiat faucibus quam sit amet tincidunt. Proin sit amet arcu eu lorem efficitur ullamcorper quis quis tortor. Mauris non nibh sodales, consectetur est at, pellentesque mauris. Aliquam ac lacus velit. Cras lacinia lectus mi, congue pharetra mi pulvinar quis. In et dolor risus. In pretium porta lorem, quis sollicitudin mi consectetur quis. Donec lobortis, ex eget condimentum luctus, sem est faucibus enim, sit amet vehicula libero ex eget diam. Integer ac facilisis dolor, posuere fringilla dolor. Nulla malesuada augue a ligula rhoncus, et convallis lectus consectetur.

Vivamus malesuada nunc nulla, ut vulputate ante semper id. Nunc cursus congue massa accumsan commodo. Vestibulum eget metus nisl. In felis magna, placerat ultrices sem id, ullamcorper maximus mi. Nulla facilisi. Donec leo turpis, interdum vel ipsum et, rutrum tincidunt mi. Suspendisse vel lacus ornare ipsum mollis pretium quis et sem. Aenean aliquam leo eget mauris dictum blandit. 
</p>
</div>
</div>
